{{ $folderPath := .Get "folder" }}
{{ $manualFiles := .Get "manualFiles" | default "" }}
{{ $files := readDir (printf "content/%s" $folderPath) }}

{{ $table := "| №   | Ссылка |\n| --- | ------ |\n" }}
{{ $lastIndex := 0 }}

{{ range $file := $files }}
  {{ if $file.IsDir}}
    {{ $fp := printf "content/%s/%s" $folderPath $file.Name }}
    {{ $subfiles := readDir $fp }}
    {{ range $subfile := $subfiles}}
      {{ if (in $subfile.Name ".md") }}
        {{ $page := $.Site.GetPage (printf "%s/%s" $folderPath (printf "%s/%s" $file.Name (replace $subfile.Name ".md" ""))) }}
        {{ if $page }} <!-- Check if the page exists -->
          {{ $row := printf "| %d | [%s](%s) |\n" (add $lastIndex 1) $page.Title $page.RelPermalink }}
          {{ $table = printf "%s%s" $table $row }}
          {{ $lastIndex = add $lastIndex 1 }} <!-- Increment the index -->
        {{ end }}
      {{end}}
      {{ if $subfile.IsDir}}
        {{ $fp2 := printf "content/%s/%s/%s" $folderPath $file.Name $subfile.Name }}
        {{ $subsubfiles := readDir $fp2 }}
        {{ range $subsubfile := $subsubfiles}}
          {{ if (in $subsubfile.Name ".md") }}
          {{ $page := $.Site.GetPage (printf "%s/%s" $folderPath (printf "%s/%s" $file.Name (printf "%s/%s" $subfile.Name (replace $subsubfile.Name ".md" "")))) }}
          {{ if $page }} <!-- Check if the page exists -->
            {{ $row := printf "| %d | [%s](%s) |\n" (add $lastIndex 1) $page.Title $page.RelPermalink }}
            {{ $table = printf "%s%s" $table $row }}
            {{ $lastIndex = add $lastIndex 1 }} <!-- Increment the index -->
          {{ end }}
        {{end}}
      {{end}}
      {{end}}
    {{end}}
  {{ end }}
  {{ if and (not $file.IsDir) (in $file.Name ".md") }}
    {{ $page := $.Site.GetPage (printf "%s/%s" $folderPath (replace $file.Name ".md" "")) }}
    {{ $row := printf "| %d | [%s](%s) |\n" (add $lastIndex 1) $page.Title $page.RelPermalink }}
    {{ $table = printf "%s%s" $table $row }}
  {{ end }}
{{ end }}

<!-- Process manual files if provided -->
{{ if $manualFiles }}
  {{ $manualRows := split $manualFiles "," }}
  {{ range $i, $manualFile := $manualRows }}
    {{ $manualFile := trim $manualFile " " }}
    {{printf "%s" $manualFile | safeHTML}}
    {{ if ne $manualFile "" }}
      {{ $page := $.Site.GetPage (printf "%s" (replace $manualFile ".md" "")) }}
      {{ if $page }}
        {{ $row := printf "| %d | [%s](%s) |\n" ($lastIndex) $page.Title $page.RelPermalink }}
        {{ $table = printf "%s%s" $table $row }}
        {{ $lastIndex = add $lastIndex 1 }}
      {{ else }}
        <!-- Debug message: Print a warning if resource is not found -->
        {{ printf "Debug: Resource not found for manual file '%s'" $manualFile | safeHTML }}
      {{ end }}
    {{else}}
        {{ printf "Debug: AAA" | safeHTML }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $table | markdownify }}
